@import 'variables';

.note-btn {
    width: $spacer * 2;
    font-size: $spacer;
    &.btn-outline-secondary {
        color: $dark;
    }
}

@include media-breakpoint-up(sm) {
    .note-btn {
        width: $spacer * 4;
    }
}

#FormContainer {
    width: 80%;
    margin-bottom: $spacer;
}