<!-- <save-modal #saveModal [toneRow]="newRow"></save-modal> -->
<ng-template #saveModal let-modal id="saveModal">
    <div class="modal-header">
        <h5 class="modal-title" id="SaveModalLabel">Save your row</h5>
        <button type="button" class="btn-close" (click)="modal.dismiss('Closed')" aria-label="Close"></button>
    </div>
    <div class="modal-body">
        <p>Please add a Title and Composer to your row so that we can keep track of it</p>
        <form>
            <div class="mb-3">
                <label class="form-label" for="work">
                    Work Title:
                    <input class="form-control" type="text" name="work" [(ngModel)]="work">
                </label>
                <label class="form-label" for="composer">
                    Composer Name:
                    <input class="form-control" type="text" name="composer" [(ngModel)]="composer">
                </label>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="modal.dismiss('Closed')">Close</button>
        <button type="button" class="btn btn-primary" (click)="save()">Save changes</button>
    </div>
</ng-template>
<div class="row text-center mb-3">
    <matrix-display [tempMatrix]="tempMatrix" class="col-12"></matrix-display>

    <div class="d-inline-block text-center col-8">
        <div class="">
            <button (click)="addToRow($event, 1)" class="note-btn btn btn-secondary m-1">C#</button>
            <button (click)="addToRow($event, 3)" class="note-btn btn btn-secondary m-1">D#</button>
            <div class="spacer d-inline-block p-4"></div>
            <button (click)="addToRow($event, 6)" class="note-btn btn btn-secondary m-1">F#</button>
            <button (click)="addToRow($event, 8)" class="note-btn btn btn-secondary m-1">G#</button>
            <button (click)="addToRow($event, 10)" class="note-btn btn btn-secondary m-1">A#</button>
        </div>
        <div class="">
            <button (click)="addToRow($event, 0)" class="note-btn btn btn-outline-secondary m-1">C</button>
            <button (click)="addToRow($event, 2)" class="note-btn btn btn-outline-secondary m-1">D</button>
            <button (click)="addToRow($event, 4)" class="note-btn btn btn-outline-secondary m-1">E</button>
            <button (click)="addToRow($event, 5)" class="note-btn btn btn-outline-secondary m-1">F</button>
            <button (click)="addToRow($event, 7)" class="note-btn btn btn-outline-secondary m-1">G</button>
            <button (click)="addToRow($event, 9)" class="note-btn btn btn-outline-secondary m-1">A</button>
            <button (click)="addToRow($event, 11)" class="note-btn btn btn-outline-secondary m-1">B</button>
        </div>
    </div>
    <div class="d-flex flex-column align-items-start justify-content-center col-2">
        <button (click)="deleteNote()" class="btn btn-primary mb-1">Delete</button>
        <button (click)="open(saveModal)" class="btn btn-success" [disabled]="newRow.length < 12">
            <fa-icon [icon]="saveIcon" class="me-2"></fa-icon>
            Save
        </button>
    </div>

</div>