.prime-labels {
    border-right: 2px solid black;
}

.retro-labels {
    border-left: 2px solid black;
}

.inv-labels {
    border-bottom: 2px solid black;
    th:first-child {
        border-right: 2px solid black;
    }
    th:last-child {
        border-left: 2px solid black;
    }
}

.retro-inv-labels {
    border-top: 2px solid black;
    th:first-child {
        border-right: 2px solid black;
    }
    th:last-child {
        border-left: 2px solid black;
    }
}

.row-label {
    cursor: pointer;
}

.row-label:hover {
    cursor: pointer;
    background-color: #dddddd;
}

.row-label.selected {
    background-color: #cccccc;
}

td, th {
    width: 2.5rem;
    height: 2.5rem;
}

td.empty, th.empty {
    width: 2.5rem;
    height: 2.5rem;
}

// @include media-breakpoint-up(sm) {
//     td, th {
//         width: 1rem;
//         height: 1rem;
//     }
    
//     td.empty, th.empty {
//         width: 1rem;
//         height: 1rem;
//     }
// }
