<table *ngIf="matrix" class="table w-75 m-auto">
    <thead>
        <tr>
            <th></th>
            <th *ngFor="let i of matrix.inversionLabelOrder">{{i}}</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let row of matrix.matrix; index as i">
            <th>{{matrix.primeLabelOrder[i]}}</th>
            <td *ngFor="let pitchClass of row">{{pitchClass}} </td>
            <th>{{matrix.retrogradeLabelOrder[i]}}</th>
        </tr>
        <tr>
            <th></th>
            <th *ngFor="let r of matrix.retrogradeInversionLabelOrder">{{r}}</th>
            <th></th>
        </tr>
    </tbody>
</table>