<header class="sticky-top">
    <nav class="navbar navbar-secondary justify-content-between p-0">
        <a href="/" class="navbar-brand">
            <img style="height: 75px; width: 660px;" src="assets/tr-brand.svg" alt="Tone Row Calculator">
        </a>
        <a href="/matrix/new" class="btn btn-primary">
            <fa-icon [icon]="plusIcon" class="me-2"></fa-icon>
            New
        </a>
    </nav>
</header>
<router-outlet></router-outlet>
<footer class="text-center pb-3">
    © Copyright 2021 Jeffrey Mann
    <br>
    Data scraped from
    <a target="_blank" href="https://en.wikipedia.org/wiki/List_of_tone_rows_and_series#Twelve_tone_rows">
        Wikipedia
    </a>
</footer>